

.card {
  font-family: Share Tech Mono;
  background-color: #9BA7B2;
  display: block;
  padding 50px 100px;
  width: 700px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
  border: 1px solid grey;
    margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 430px;
    background: linear-gradient(-125deg, #1D3349, #06121E 55%);
}

.bank-logo svg {
  position: absolute;
  padding-left: 420px;
  padding-top: 15px;
  max-width: 65px;
  opacity: 0.9;
}

img.chip {
  max-width: 80px;
  position: absolute;
  padding-top: 120px;
  padding-left: 50px
}

.mc {
  position: absolute;
  max-width: 140px;
  padding-top: 300px;
  padding-left: 520px;
}

.title {
  font-family: Signika;
  color: white;
  font-size: 28px;
  font-weight: 400;
  opacity: 0.8;
  padding-left: 20px;
  padding-top: 20px;
  position: absolute;
  display: inline-block;
}


.emboss {
  font-family: Share Tech Mono;
  color: transparent;
  text-shadow: -2px -2px 2px rgba(255,255,255,1),
                1px 1px 1px rgba(0,0,0,0.9),
                2px -2px 4px rgba(255,255,255,1),
                -2px -2px 2px rgba(0,0,0,0.9),
                -2px 2px 1px rgba(0,0,0,0.9);
  -webkit-text-stroke:2px rgba(0,0,0,0.4);
}

.number {
  display: inline-block;
  padding-top: 200px;
    font-size: 52px;
    padding-left: 50px;
  position: relative;
  z-index: 999;
}

.name {
  font-size: 32px;
  padding-left: 30px;
  text-shadow: -2px -1px 1px rgba(255,255,255,1),
                1px 1px 1px rgba(0,0,0,1),
                1px 0px 1px rgba(255,255,255,1),
                -1px -1px 1px rgba(0,0,0,1),
                -1px 1px 1px rgba(0,0,0,1);
  -webkit-text-stroke: 1px rgba(0,0,0,0.2);
  display: inline-block;
  padding-bottom: 20px;
}

.small-type {
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
  padding-left: 100px;
  line-height: 10px;
  letter-spacing: 1px;
  opacity: 0.7;
}

.exp {
    font-size: 32px;
  padding-left: 100px;
  text-shadow: -2px -1px 1px rgba(255,255,255,1),
                1px 1px 1px rgba(0,0,0,1),
                1px 0px 1px rgba(255,255,255,1),
                -1px -1px 1px rgba(0,0,0,1),
                -1px 1px 1px rgba(0,0,0,1);
  -webkit-text-stroke: 1px rgba(0,0,0,0.2);
  -webkit-text-stroke: 1px rgba(0,0,0,0.2);
}

.holo {
  background: linear-gradient(270deg, #ec1414, #eccb14, #14ec1c, #14eaec, #1914ec, #ec14da);
background-size: 1200% 1200%;
-webkit-animation: Logo 4s ease infinite;
-moz-animation: Logo 4s ease infinite;
-o-animation: Logo 4s ease infinite;
animation: Logo 4s ease infinite;
  display: block;
  width: 130px;
  height: 90px;
  z-index: 19;
  border-radius: 55px;
  position: absolute;
  top: 120px;
  left: 530px;
}
@-webkit-keyframes Logo {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Logo {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes Logo {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Logo {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.holo-back {
    position: absolute;
  top: 140px;
  left: 530px;
    /* top: 300px; */
    height: 90px;
    width: 130px;
    z-index: 22;
    background-repeat: no-repeat;
    background-image: url('http://jamesdelaney.ie/dev/hologram.png');
    background-position: 50% 50%;
    background-size: cover;
    opacity: 0.5;
}